.resume-container{
    display: flex;
    gap: 20px;
    
}

@media (width<769px) {
    .resume-container{
        display: flex;
        gap: 20px;
        flex-direction: column;
        
    }
    .resume-box .p{
        margin: 2rem 0;
    }
    
}
.resume-box h2{
    font-size: 4.2rem;
}
.resume-box p{
    font-size: 1.6rem;
}
.resume-box .desc{
    margin: 2rem 0 2.5rem;
}
.resume-box .resume-btn{
    width: 100%;
    height: 5.3rem;
    background-color: #323946;
    border: .2rem solid #323946;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
    border-radius: .8rem;
    cursor: pointer;
}
.resume-box .resume-btn.active{
    border-color: #7cf03d;
    color: #7cf03d;
}
.resume-detail{
    display: none;
}
.resume-detail.active{
    display: block;
}
.resume-box .heading{
    font-size: 3.5rem;
    text-align: left;
}
.resume-box .heading span{
    color: #7cf03d;
}
.resume-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 2rem;
    height: 45rem;
    overflow: auto;
}
.resume-list::-webkit-scrollbar{
    width: .7rem;
}
.resume-list::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 1rem;
}
.resume-list:hover::-webkit-scrollbar-thumb{
    background-color: #7cf03d;
}
.resume-list .resume-item{
    background-color: #323946;
    border-radius: 0.8rem;
    padding: 3rem 2.5rem;
    height: calc((45rem-2rem)/2);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.resume-item .year{
    color: #7cf03d;
}
.resume-item h3{
    font-size: 2.2rem;
}
.resume-item .company{
   position: relative;
   margin-left: 2rem;
   margin-bottom: 2rem;
}
.resume-item .company::before{
   content: '';
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   padding: .5rem;
   background-color: #7cf03d;
   border-radius: 50%;
   margin-left: -2rem;
}
.resume-detail.skills .resume-list{
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    height: auto;
    overflow: visible;
}
.resume-detail.skills .resume-item{
    position: relative;
    align-items: center;
    height: auto;

}
.resume-detail.skills .resume-item i{
    font-size: 8.5rem;
    transition: .5rem;
}
.resume-detail.skills .resume-item:hover i{
    color: #7cf03d;
}
.resume-detail.skills .resume-item span{
    position: absolutet;
    top: -20%;
    background-color: #fff;
    color: #1f242d;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: .6rem;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
}
.resume-detail.skills .resume-item:hover span{
    opacity: 1;
    top: 0%;
}

.resume-detail.about .resume-list{
    height: auto;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));

}
.resume-detail.about .resume-item{
    padding: 0 0 .5rem;
    background-color: transparent;
}
.resume-detail.about .resume-item p{
    color: #7cf03d;
}
.resume-detail.about .resume-item p span{
    color: #fff;
    margin-left: 1rem;
    font-size: 1.8rem;

}
/* respomsive */

@media screen and (max-width: 768px){
    
    .resume-container{
        grid-template-columns: 1fr;
    }
    .resume-container{
        gap: 3rem;

    }
}


@media screen and (max-width: 400px){
    
    .resume-box h2,
    .resume-box .heading,
    .resume-box .desc,
    .resume-detail.about .resume-item{
        text-align: left;
        
    }
    
}