@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    color: #fff;
    background-color: #1f242d;
}
header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
}
header.active{
    animation: show-header 1.5s linear forwards;
    animation-delay: 1.2s;
}
@keyframes show-header{
    100%{
        visibility: visible;
        opacity: 1;
    }
}
.logo{
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
}
nav a{
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}
nav a:hover{
    color: #7cf03d;
}
#menu-icon{
    font-size: 4rem;
    display: none;
}
section{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    visibility: hidden;
    opacity: o;
    overflow: hidden;
}
section.active{
    animation: show-contain 1.5s linear forwards;
    animation-delay: 1.6s;
}
@keyframes show-contain{
    100%{
        visibility: visible;
    opacity: 1;
    overflow: auto;
    }
}
.home{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.home-detail h1{
    font-size: clamp(3.5rem,10vw,5.5rem);
}
.home-detail h2{
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;

}
.home-detail h2 span{
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem #7cf03d;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s *var(--i));
}
@keyframes display-text{
    25%,100%{
        display: none;
    } 

}
.home-detail h2 span::before{
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid #7cf03d;
    color: #7cf03d;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}
@keyframes fill-text{
    10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
.home-detail p{
    font-size: 1.6rem;
    margin: 1rem 0 2.5rem;

}
.home-detail .btn-sci{
    display: flex;
    align-items: center;
}
.btn{
    display: flex;
    padding: 1rem 3rem;
    background-color: #7cf03d;
    border: .2rem solid #7cf03d;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #7cf03d;
    font-size: 1.6rem;
    color: #1f242d;
    font-weight: 500;
    transition: .5s;
}
.btn:hover{
    background-color: transparent;
    color: #7cf03d;
    box-shadow: none;
}
.home-detail .btn-sci .sci{
    margin-left: 2rem;
}
.home-detail .btn-sci .sci a{
    display: inline-flex;
    padding: .8rem;
    border: .2rem soli #7cf03d;
    border-radius: 50%;
    font-size: 3rem;
    color: #7cf03d;
    margin: 0 0.8rem;
    transition: .5s;
}
.home-detail .btn-sci .sci a:hover{
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 1rem #7cf03d;
}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent,transparent,transparent,#7cf03d);
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}
.home-img .img-box::after{
    animation-delay: -5s;
}
@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1f242d;
    border-radius: 50%;
    border: 0.01rem solid #1f242d;
    display:flex ;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}
.home-img .img-box .img-item img{
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    
}


/* responsive */
@media screen and (max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media screen and (max-width: 992px){
    header{
        padding: 2rem 4%;
    }
    section{
        padding: 10rem 4% 2rem;
    }
}
@media screen and (max-width: 768px){
    #menu-icon{
        display: block;
    }
    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background-color: #1f242d;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        margin: 4rem 0;
    }
    .home{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;

    }
    .home-img .img-box{
        width: 35rem;
        height: 35rem;

    }
    
}
@media screen and (max-width: 600px){
    .home-img .img-box{
        width: 30rem;
        height: 30rem;
    }
    
}
@media screen and (max-width: 450px){
    html{
        font-size: 50%;

    }
}
@media screen and (max-width: 400px){
    .home-detail{
        text-align: center;
    }
    .home-detail .btn-sci{
        flex-direction: column-reverse;
    }
    .home-detail .btn-sci .sci{
        margin-left: 0;
        margin-bottom: 2rem;

    }
    
}